#root {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.app{
  padding-left: 20%;
  padding-right: 20%;
}

.header {
  padding-left:40px;
  padding-right:20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  position: sticky; 
  top:0;
}


.hotbar{
  display: flex;
  align-items: center;
  margin-right: 5%;
  justify-content: flex-end;
}

.hotbar-link{
  margin-left:60px;
}

@media (prefers-color-scheme: light) {
  .header {
    padding-left:40px;
    padding-right:20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    position: sticky; 
    top:0;
  }
}
