#root {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.app{
  padding-left: 5%;
  padding-right: 5%;
}
.header {
  padding-left:40px;
  padding-right:20px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #1a1c24;
  position: sticky; 
  top:0;
}


.hotbar{
  display: flex;
  align-items: center;
  margin-right: 5%;
  justify-content: flex-end;
}

.hotbar-link{
  margin-left:60px;
}
